extend layout
block content
  form(method='post', action='/topic')
    fieldset
      legend Add a topic
      label(for='topic_title') What should we call your topic
      input#topic_title(type='text', name='topic[title]')
      label(for='topic_desc') A little more detail...
      textarea#topic_desc(rows='2', name='topic[description]')
      div
        button.btn.btn-primary(type='submit') Suggest this topic