doctype 5
html
  head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Afternoon Coffee
    .container
      .main-content
        block content
    footer
      p Running on Node